@{ 
    ViewData["Title"] = "Acesso negado";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Acesso negado !!!</h4>
    <p>Essa funcionalidade é restrita para usuários cdo seu perfil</p>
    <hr>
    <p class="mb-0"><a href="javascript:history.back()">Clique aqui</a> para voltar.</p>
</div>